 <h3>Entry list</h3>
  <br />
  
<% displayed_tags = [] %>
<ul>
<% @tags.each do |tag| %>
    <% remaining_entries = [] %>
    <% if !displayed_tags.compact.include?(tag.name)%>
        <% displayed_tags << tag.name %>
        <li>#<%= tag.name %></li>
        <% Entry.tagged_with(tag.name).each do |entry| %>
            <% first_tags = entry.tag_list - displayed_tags %>
            <% if first_tags.length > 1 %>
                <% remaining_entries << entry %>
            <% elsif first_tags.blank? %>
                <ul><li><%= entry.name %></li></ul>
            <% else %>
                <% displayed_tags << first_tags.first %>
                <ul><li>#<%= first_tags.first %></li>
                    <ul><li><%= entry.name %></li></ul>
                </ul>
            <% end %>
        <% end %>
        
        <% remaining_entries.each do |entry| %>
            <ul>
                <ul>
                    <% remaining_tag = (entry.tag_list - displayed_tags).first %>
                    <% displayed_tags <<  remaining_tag %>
                    <li>#<%= remaining_tag %></li>
                    <ul><li><%= entry.name %></li></ul>
                </ul>
            </ul>
        <% end %>
    <% end %>
<% end %>
</ul>
